.inline.field.flexInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.inline.field.flexInput .input {
    flex-grow: 1;
}
.field.primIconColor {
    .icon {
        color: $primary;
        opacity: 1 !important;
    }
}

.ui.checkbox .box:after,
.ui.checkbox label:after {
    font-size: 9px;
}
.ui.checkbox {
    &.checked {
        label {
            color: $primary !important;
        }
    }
    label {
        color: rgba(0, 0, 0, 0.87) !important;
    }
}
.ui.input {
    input {
        width: 100% !important;
    }
}

.ui.checkbox input:checked ~ .box:before,
.ui.checkbox input:checked ~ label:before {
    background: $primary;
    border-color: rgba(255, 255, 255, 0.36);
}

.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ label:after {
    opacity: 1;
    color: #ffffff;
}

.ui.checkbox input:not([type="radio"]):indeterminate ~ .box:before,
.ui.checkbox input:not([type="radio"]):indeterminate ~ label:before {
    background: $primary;
    border-color: rgba(255, 255, 255, 0.36);
}

.ui.checkbox input:not([type="radio"]):indeterminate ~ .box:after,
.ui.checkbox input:not([type="radio"]):indeterminate ~ label:after {
    opacity: 1;
    color: #ffffff;
}

.ui.checkbox input:not([type="radio"]):indeterminate:focus ~ .box:before,
.ui.checkbox input:not([type="radio"]):indeterminate:focus ~ label:before,
.ui.checkbox input:checked:focus ~ .box:before,
.ui.checkbox input:checked:focus ~ label:before {
    background: $primary;
    border-color: rgba(255, 255, 255, 0.36);
}

.ui.checkbox input:not([type="radio"]):indeterminate:focus ~ .box:after,
.ui.checkbox input:not([type="radio"]):indeterminate:focus ~ label:after,
.ui.checkbox input:checked:focus ~ .box:after,
.ui.checkbox input:checked:focus ~ label:after {
    color: #ffffff;
}

.ui.disabled.checkbox .box:after,
.ui.disabled.checkbox label,
.ui.checkbox input[disabled] ~ .box:after,
.ui.checkbox input[disabled] ~ label {
    cursor: default !important;
    opacity: 0.5;
    color: #000000;
}
