/* Tables */
.ui .table {
    &.basic {
        border: 0;
    }
    tbody {
        tr {
            &.businessLogic,
            &.active {
                background-color: #edf1f5 !important;
            }
            td {
                &.paddedCell {
                    padding: 0.78571429em 0.78571429em !important;
                }
            }
        }
    }
    &.minimalTable {
        position: relative;
        margin-top: -0.5em;

        thead {
            th {
                font-size: 0.8rem;
                text-transform: uppercase;
                font-weight: 400;
                color: #999;
                padding: 0 0.78571429em 0.5em 0.78571429em;
                border-radius: 0 !important;
                border-bottom: 0 !important;
            }
        }
    }
}
