// .ui .table tbody tr.businessLogic,
// .ui .table tbody tr.active.custom-accordion-container {
//     background-color: unset !important;
// }
.render-accordion-row {
    .contact-details-container {
        margin: 0px !important;
    }
    .render-accordion-cell {
        padding: 0px !important;
    }
}
.custom-accordion-container {
    padding: 0px !important;
    margin: 0px;
    .contact-details-container {
        margin: 0px !important;
    }
    .active {
        .custom-accordion-cell {
            background: none;
        }
    }
}
